@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}
a{
  text-decoration: none;  
  color: #fff;
  transition: color .25s ease-in-out;
  outline: none;
}
ul{
    list-style-type: none;
}
body::-webkit-scrollbar {
    width: .5em;
    background-color:white;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: orangered;
}
.sk-folding-cube {
    position: absolute;
    top: 48%;
    left: 48%;
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
.sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orangered;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
  #spinner-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        z-index: 999999;
    }
#goToTop{
    position: fixed;
    display: block;
    bottom: 30px;
    right: 30px;
    background-color: orangered;    
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    z-index: 999;
}
#goToTop i{
    font-size: 20px;
}
header{
    background-color: orangered;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav{
    position: fixed;
    top: 0;
    background-color: rgb(253, 117, 67);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 20px 200px;
}
nav h2{
    color: #fff;
}
nav ul{
    display: flex;
    align-items: center;
    color: #fff;
}
.active{
    color: rgb(24, 219, 34);
}
nav ul li a:hover{
    color: yellow;
}
nav ul li{
    margin-right: 40px;
}
i#menuBar,
i#menuClose{
    position: fixed;
    display: none;
    top: 10px;
    right: 20px;
    z-index: 99;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
}
i#menuClose{
    color: orangered;
}
.bannerSection{
    display: flex;
    justify-content: center;
    padding: 0 150px;
    margin-top: 50px;
    width: 100%;
}
@-webkit-keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
@keyframes up-down{
    0%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
.body{
    padding: 20px 200px;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
}
.body h1{
    color: orangered;
    font-size: 30px;
    text-transform: uppercase;
}
.body hr{
    border: none;
    height: 3px;
    background-color: orangered;
    width: 300px;
    margin: 10px auto;
}
@media only screen and (max-width: 1012px){
    i#menuBar{
        display: inherit;
    }
    nav{
        padding: 10px 40px;
    }
    nav ul{
        flex-direction: column;
        position: fixed;
        top: 0;
        z-index: 80;
        width: 250px;
        height: 100vh;
        align-items: flex-start;
        padding-left: 15px;
        padding-top: 30px;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.233);
        background-color: #f0f0f0;
    }
    ul#menu{
        right: -280px;
        transition: .25s ease-in-out;
    }
    nav ul li a{
        color: orangered;
    }
    nav ul li{
        padding: 20px 0;
    }
    .bannerSection{
        padding: 0 10px;
    }
    header{
        height: 350px;
    }
    .body{
        padding: 10px 40px;
    }
}
